.container {
  display: flex;
}

.fetching {
  margin: 0 auto;
  padding: 20px;
  font-size: 32px;
  color: lightgray;
  height: 100px;
  text-align: center;
}

.photos {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.photos > * {
  margin: 20px;
}

.image {
  width: 500px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.image a {
  height: 0;
}

.image:hover {
  opacity: 0.3;
  width: 101%;
}

.hoverName {
  height: 0;
  visibility: hidden;
}

.box:hover > .hoverName {
  visibility: visible;
  position: relative;
  top: 25px;
  color: black;
  font-family: cursive;
  font-weight: 600;
  font-size: 32px;
  z-index: 1000;
  height: 0;
}

.image img {
  width: 100%;
  transform: translate(0, -33%) scale(1.4);
}

.detail {
  padding: 30px;
}

.detailImage {
  transition: 0.2s ease-in;
  z-index: 1;
}

.detailImage img {
  width: 100%;
}

.description {
  background-color: cornsilk;
  border-top: solid 1px burlywood;
  border-left: solid 1px burlywood;
  border-right: solid 1px burlywood;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  padding: 30px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: burlywood;
}

.description .close {
  position: absolute;
  left: 10px;
  top: 10px;
}

/** EFFECTS **/
.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.effect2 {
  position: relative;
}
.effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 100%;
  }

  .photos {
    width: 100%;
    padding: 0;
  }

  .photos > * {
    margin: 5px;
  }

  .container {
    width: 100%;
  }

  .detail {
    position: absolute;
    width: 250px;
    height: 250px;
  }

  .description {
    border: unset;
  }

  .detailImage {
    background-color: cornsilk;
    width: 100%;
  }

  .effect2,
  .effect2:before,
  .effect2:after {
    height: 0;
  }
}
